body {
  display: grid;
  height: 100vh;
  grid-template-columns: 8fr 2fr;
  grid-template-rows: 100px 75px auto 100px;
}

header {
  background: lightpink;
  padding: 2rem;
  grid-column: 1 / 4;
  grid-row: 1/2;
}

nav {
  grid-column: 1/4;
  grid-row: 2/3;
  background: lightblue;
}

.left-sidebar {
  display: none;
  background: lightblue;
  grid-column: 1 / 2;
}

main {
  background: coral;
  grid-column: 1 / 2;
}

.right-sidebar {
  background: yellow;
  grid-column: 2 / 3;
}

footer {
  background: wheat;
  padding: 2rem;
  text-align: center;
  grid-column: 1 / 4;
  grid-row: 4/5;
}

.left-sidebar,
.right-sidebar {
  padding: 1rem;
}
