
@media screen and (min-width: 650px) {
    #learning {
        grid-column: 1/2;
    }

    #information {
        grid-column: 2/3;
    } 
    
    

    #navigation {  
        display: flex;       
        flex-direction: row;
        justify-content: space-around;           
    }

    #menu {
        display: none;
    }
}