* {
    box-sizing: border-box;
   }

body {
    height: 100%;
    
    margin: 0px;   
}

html {    
    height: 100%;   
}

#content {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr; 
    grid-gap: 10px;   
}

#left {    
    border-style: solid;
    border-color: chartreuse;
    grid-column: 1/2;
    display: flex;
    flex-direction: column-reverse;    
}

#right {    
    border-style: solid;
    border-color:cyan;
    grid-column: 1/2;
}

#location {
    border-style: solid;
    height: auto;
    
}

#image {
    border-style: solid;
    width: 100%;
}
